.menuLink {
  color: white;
  background-color: transparent;
  border: none;
  font-size: large;
  margin-left: 15px;
  text-decoration: overline;
}

.menuLink:hover {
  color: orange;
  cursor: pointer;
}
.servicesPageWrapper {
  margin: 40px;
}

.triangleImg {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
